.error {
    color: #f95b5b;
    right: 16px;
    position: absolute;
}
 
.block__content {
    max-width: 100vw;
    width: 400px;
    margin: 40px auto;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    background: #fff;
    line-height: 1.4;
    font-family: -apple-system,BlinkMacSystemFont,"Trebuchet MS",Helvetica,"Nimbus Sans L",sans-serif;
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    color: #333;

    a {
        color: #3d71bd;
        transition: color .15s ease-out;
        
        &:hover {
            color: #e00;
            text-shadow: none;
        }
    }
}

.form {
    max-width: 90vw;
    width: 300px;
    margin: 0 auto;
    padding: 30px 0;
}
 
@media (max-height: 720px) {
    .block__content { margin: auto }
    .form { padding: 5px 0 }
}
 
.form__group h3 {
        text-align: center;
        font-weight: 400;
}
 /*	.form__group .col-md-12::after {
         content: '';
         opacity: 1;
         position: absolute;
         z-index: 20;
         right: 5px;
         top: 5px;
         width: 6px;
         height: 15px;
         border: solid #37b24d;
         border-width: 0 2px 2px 0;
         transform: rotate(45deg);
         transition: opacity .5s ease-in;
     }*/
 
.form__comment {
    font: 13px/1.5em sans-serif;
    color: #999;
}
    .form__comment > button {
        width: 100%;
        height: 38px;
        border: none;
        border-radius: 4px;
        background: #ffdb4d;
        font-size: 18px;
        cursor: pointer;
    }
    .form__comment > div {
        padding: 10px 0;
}
        .form__comment > div:first-of-type {
            text-align: center;
}

.textfield--float-label {
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
    .textfield--float-label input {
        width: 100%;
        height: 32px;
        border: none;
        border-bottom: 1px solid #999;
        margin-bottom: 30px;
        display: block;
        outline: 0;
}
        .textfield--float-label input:focus {
            border-bottom: 2px solid #ffdb4d;
}
            .textfield--float-label input:focus~label {
                color: #2196F3;
                font-size: 12px;
                line-height: 15px;
    }
    .textfield--float-label label {
        position: absolute;
        top:0;
        color:rgba(0,0,0,.26);
        pointer-events: none;
        transition: all .2s ease-out;
        white-space: nowrap;
    }
    .textfield--float-label select {
        display: block;
        height: 32px;
        width: 100%;
        outline: 0;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.26);
        cursor: pointer;
}